@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container row">
    <div class="navbar justify-content-around border-bottom">
        <a class="btn btn-success" asp-page="Add">Add superhero</a>
    </div>

    @if(Model.Superheroes != null)
    {
        @foreach(var superhero in Model.Superheroes)
        {
            <div class="col-3 justify-content-center mt-4">
                <div class="card shadow" style="width: 100%;">
                    <img class="card-img-top" src="~/images/@superhero.Image" alt="Card image cap">
                    <div class="card-body">
                        <h1>@superhero.Name</h1>
                        <h3 class="fw-normal fst-italic"><span class="fw-bold">Secret identity </span>@superhero.SecretIdentity</h3>
                        <div class="row">
                            <h3><span class="fw-bold">Superpowers: </span></h3>
                             @foreach (string superpower in superhero.Superpower)
                            {
                                <div class="col-6">
                                    <h4 class="fw-normal fst-italic">@superpower</h4>
                                </div>
                            }
                        </div>
                        <form method="post"> 
                            <a class="btn btn-danger" asp-page="Edit" asp-route-id="@superhero.Id">Edit</a>
                            <input type="submit" value="Delete" class="btn btn-dark" asp-page-handler="DeleteHero" asp-route-id="@superhero.Id"/>
                        </form>
                    </div>
                </div>
            </div>
        }
    }

</div>